
*.aux

*.log

*.out

*.gz

*.sublime-workspace

*.toc

matan/notes/settings/tmp_E.tex

matan/notes/settings/tmp_K.tex

field_theory/notes/settings/tmp_E.tex

field_theory/notes/settings/tmp_K.tex

anmec/notes/settings/tmp_K.tex

anmec/notes/settings/tmp_E.tex
